@{
    ViewData["Title"] = "World Travel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model world_travel.Models.Experience

<h2>Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.Activity): @Html.DisplayFor(model => model.Activity)</p>
<p>@Html.DisplayNameFor(model => model.LocationId) : @Html.DisplayFor(model => model.LocationId)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ExperienceId }) | @Html.ActionLink("Back to List", "Index")</p>
