@{
    ViewData["Title"] = "World Travel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<world_travel.Models.Experience>

<h2>World Travel</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.City), @Html.DisplayNameFor(model => model.Location.Country)
        </th>
    </tr>

            @foreach (var listExperience in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelExperience => listExperience.Activity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelExperience => listExperience.Location.City), @Html.DisplayFor(modelExperience => listExperience.Location.Country)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = listExperience.ExperienceId }) | 
                        @Html.ActionLink("Edit", "Edit", new { id = listExperience.ExperienceId }) | 
                        @Html.ActionLink("Delete", "Delete", new { id = listExperience.ExperienceId })
                    </td>
            </tr>
            }
</table>

<p>@Html.ActionLink("Add new experience", "Create")</p>